body{
   background-color: black;
   color: pink;
   font-family: sans-serif;
}

section{
   background-color: rgb(83, 4, 57);
   padding-top: 60px;
   padding-bottom: 60px;
   display: flex; /* torna a seção flexivel pondo um do lado do outro */
   justify-content: center;
}

.chamada-texto{
   margin-right: 5%;
}

img{
   height: 200px;
}

.categoria-videos{
   display: flex; /* torna flexivel - ficara todos na msm linha*/
   overflow-x: auto; /* nao deixa o conteudo sair na horizontal*/
   gap: 20px; /* espaço entre os videos*/
}